/* HomePage.css */
#homepage {
    width: 100%;
    background-color: #F9F9EE;
    max-height: 100vh;
    max-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
}