#restaurant-menu {
    display: flex;
    flex-direction: column;
    height: 82vh;
    /* max-width: 50rem; */
    margin: 0 auto;
    padding: 1.25rem;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: flex-start;
}

#menu-category-tabs {
    display: flex;
    flex-direction: row; /* 預設值，但寫上更明確 */
    justify-content: space-around; /* 平均分布 */
    margin: 0rem 0;
    margin-top: 0rem;
    margin-bottom: 1rem;
    /* border-bottom: 0.1rem solid #ccc; */
}

.menu-tab {
    flex: 1;
    text-align: center;
    padding: 0.6rem 0;
    cursor: pointer;
    /* font-weight: 600; */
    color: #333;
    background-color: #E0E096;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom: none;
    transition: background-color 0.2s ease-in-out;
}

.menu-tab.active {
    background-color: #D2D000;
}

.menu-scroll-area {
    flex: 1;
    overflow-y: auto;

    /* 避免滾動時 padding 被吃掉 */
    box-sizing: border-box;
}


.menu-list {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    gap: 1.25rem;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 4rem;

}

.add-button {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    background-color: #E0E096;
    display: flex;
    align-items: center;
    justify-content: center; /* 讓內容靠左 */
    gap: 0.5rem;
    width: 4.5rem;               /* 固定寬度 */
    height: 2rem;             /* 固定高度 */
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    /* font-weight: 500; */
    font-size: 1rem;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.3s ease-in-out;
    font-size: 1rem !important;
    padding: 0.2rem 1.5rem !important;
    
  }
  
  .cart-button:active {
    transform: scale(0.98);
  }
  