#welcome {
  width: 100vw;
  background-color: #F9F9EE;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

#welcome .welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding-bottom: 6rem;
}

#welcome .welcome-title-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

#welcome .page-title {
  color: #000000;
  font-size: 2.5rem;
  letter-spacing: 0;
  line-height: 1.3em;
  text-align: center;
  white-space: nowrap;
}

#welcome .seperate-line {
  margin-top: 0rem;
}

#welcome .decoration {
  width: 20rem;
  height: 17rem;
}

#welcome .decoration #big-mascot {
  height: 18rem;
}

#welcome .button-wrapper-weclcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#welcome .button {
  margin-top: 1rem;
  font-family: inherit;
  background-color: #7F84C5;
  border-radius: 1rem;
  border: none;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: normal;
  white-space: nowrap;
  letter-spacing: 0;
  line-height: normal;
  padding: 0.8rem 1.2rem;
  width: 14rem;
}

#welcome .button:hover {
  cursor: pointer;
}

#welcome .button:active {
  filter: brightness(75%);
}

#welcome .mascot-group {
  position: fixed;
  bottom: -0.5rem;
  overflow-y: hidden;
  display: flex;
  justify-content: space-evenly;
}

#welcome .mascot-group .mascot-bottom {
  width: 7.5rem;
}
