.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #F9F9EE;
  padding: 1rem;
  box-sizing: border-box;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

p {
  color: #7D7D2D;
  margin-top: 0.5rem;
  font-size: 1rem;
}

button.cancel-button {
  margin-top: 1.5rem;
  background-color: #ECECB8;
  color: #333;
  border: none;
  padding: 0.6rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

button.cancel-button:hover {
  background-color: #e0e0a8;
}

#qr-reader {
  /* width: 280px !important;
  height: 280px !important; */
  max-width: 100%;
  /* max-height: 100%; */
  border: 2px solid #BABEF4;
  border-radius: 0.5rem;
  background-color: #fff;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
}

#qr-reader video,
#qr-reader canvas {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 0.5rem;
}


#qr-reader > div {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}