/* #create-meal {
  display: flex;
  flex-direction: column;
  height: 100vh;
} */
#create-meal-page {
  /* max-height: 100vh; */
  /* height: 100%; */
  padding: 1em;
  /* flex: 1; */
  height: 80vh;


  /* background-color: #F9F9EE; */
  /* font-family: 'jf-openhuninn-2.1', 'Noto Sans TC', sans-serif; */
}

.create-meal-content {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  padding: 0 1rem;
  /* align-items: center; */
  justify-content: space-around;
  flex-grow: 1;
  padding: 1rem;
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  margin-bottom: 3rem;
}

.image-preview-create-meal {
  width: 6rem;
  height: 6rem;
  background-color: #D9D9D9;
  margin-bottom: 0.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-preview-create-meal img {
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
}


.upload-button {
  background-color: #E0E096 !important;
  color: #333 !important;
  font-size: 0.8rem !important;
  padding: 0.3rem 0.8rem !important;
  /* border-radius: 0.5rem  !important; */
  text-transform: none;
  box-shadow: none !important;
}

.text-fields {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* margin-top: 1rem; */
}

.text-field {
  margin: 0.2rem 0 !important;
  background-color: #FFFFFF;
}

.section {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section > .MuiTypography-root {
  font-size: 1rem;
  color: #7D7D2D;
  margin-bottom: 0.4rem;
}

.toggle-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.5rem;
  /* margin-top: 0rem; */
  margin-bottom: 2rem;
}

.tag-button {
  border-radius: 0.8rem !important;
  background-color: #FFD8CC !important;
  /* color: #D0694B !important; */
  
  padding: 0.3rem 1rem !important;
  font-size: 0.9rem !important;
  width: 5rem;
  text-transform: none;
  margin: 0.2rem !important;
  border: none !important;
}

.Mui-selected {
  background-color: #F4AFA3 !important;
}

/* .button-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1rem;
} */

.create-button-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.submit-create-button {
  background-color: #77C56D !important;
  color: #333 !important;
  font-size: 1rem !important;
  padding: 1rem 2rem !important;
  border-radius: 0.5rem !important;;
  border: none;
  margin-top: 1.5rem !important
}