.input-field {
    display: flex;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: flex-start;

    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
    }

    .icon {
        font-size: 2.5rem;
    }

    .text-container {
        background-color: #FFFFFF;
        border: .25rem solid #BABEF4;
        border-radius: 1.25rem;
        height: 2.2rem;
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-field {
        border: none;
        color: #BABEF4;
        font-family: inherit;
        font-size: 1.2rem;
        font-weight: normal;
        letter-spacing: 0;
        line-height: normal;
        width: 85%;
        height: 3rem;
        background-color: transparent;
        outline: none;
    }

    .text-field::placeholder {
        color: #BABEF4;
    }
}