.shop-card {
    border-radius: 0.5rem;
    padding: 0.8rem;
    width: 20rem;
    box-sizing: border-box;
    margin: 0.5rem auto;
    background-color: #FFFFFF;
    border: .3rem solid transparent;
  }
  
  .type-meal {
    border-color: #BABEF4;
    /* background-color: #BABEF4; */
  }
  
  .type-dessert {
    border-color: #FFCDBE;
    /* background-color: #FFCDBE; */
  }
  
  .image-container {
    border-radius: 0.2rem;
    width: 100%;
    height: 8rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-container.type-meal {
    background-color: #BABEF4;
  }

  .image-container.type-dessert {
    background-color: #FFCDBE;
  }

  
  .shop-image {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
  }
  
  .placeholder {
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  
  .info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    padding: 0 0.2rem;
  }
  
  .shop-name {
    font-size: 1rem;
    /* font-weight: bold; */
    color: #D0694B;
    text-transform: lowercase;
  }
  
  .type-meal .shop-name {
    color: #7F84C5;
  }
  
  .rating {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #FFC107;
  }
  
  .star-icon {
    font-size: 1.3rem !important;
    margin-right: 0.2rem;
    /* margin-top: 0.1rem; */
  }
  