#login {
    background-color: #F9F9EE;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    z-index: 999;

    .content {
        width: 24.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
        height: 100%;
    }

    .logo-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    .page-title {
        color: #000000;
        font-size: 2.2rem;
        font-weight: normal;
        letter-spacing: 0;
        line-height: normal;
        text-align: center;
        white-space: nowrap;
        margin-top: 3rem;
    }

    #seperate-line {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .signup-wrapper {
        display: flex;
        flex-direction: column;
    }

    #mascot {
    width: 12rem;
    height: 12rem;
    position: absolute;
    top: 0rem;
    left: 15rem;
    object-fit: cover;
    animation: floatUpDown 3s ease-in-out infinite;
    transform: scaleX(-1); /* 初始翻轉 */
    }

    @keyframes floatUpDown {
    0% {
        transform: scaleX(-1) translateY(0);
    }
    50% {
        transform: scaleX(-1) translateY(-10px);
    }
    100% {
        transform: scaleX(-1) translateY(0);
    }
    }


    #login-button {
        margin-top: 0.8rem;
        font-family: inherit;
        background-color: #7F84C5;
        border-radius: 1rem;
        border: none;
        color: #FFFFFF;
        font-size: 1.2rem;
        white-space: nowrap;
        letter-spacing: 0;
        line-height: normal;

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.8rem 3rem;
        width: 14rem;
    }

    #login-button:hover {
        cursor: pointer;
    }

    #login-button:active {
        filter: brightness(75%);
    }

    .signup-wrapper {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .signup-hint {
            color: #35413C;
        }

        .signup-link {
            color: #EF7753;
        }
    }
}