@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

@font-face {
  font-family: 'jf-openhuninn-2.1';
  src: local('jf-openhuninn-2.1'),
       url('./fonts/jf-openhuninn-2.1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'jf-openhuninn-2.1', 'Noto Sans TC', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F9EE;
  /* font-weight: bold; */
  padding: 0%;
  margin: 0%;
}

button,
span,
div {
  font-family: 'jf-openhuninn-2.1', 'Noto Sans TC', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
